<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <title>{{ page['name'] }} | {{ site['title'] }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="FOSS4G Geo marker GIS Open Source" />
    <link rel="me" href="https://fosstodon.org/@osgeobe" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', _external=True) }}">
  </head>
  <body>
    <header id="header">
      <h1>
        <a href="/{{lang}}/home"><span>{{ page['name'] }}</span></a>
        {{ site['foss4g_be'] }} {{ site['date'] }}
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="{{ base_url }}/{{lang}}/home.html">Home</a></li>
          <li><a href="{{ base_url }}/{{lang}}/sponsors.html">Sponsors</a></li>
          <li><a href="{{ base_url }}/{{lang}}/contact.html">Contact</a></li>
          <li><a href="{{ base_url }}/{{lang}}/volunteers.html">Volunteers</a></li>
          <li>
            <a
              href="https://www.facebook.com/pages/Foss4g-Belgium/863691603712207"
              target="_blank"
              title="Facebook"
              >Facebook</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <section id="banner">
      <img
        src="{{ url_for('static', filename='images/foss4gbe-g.svg', _external=True) }}"
        alt="{{ site['foss4g_be'] }} - {{ site['not_a_conf'] }}"
      />
    </section>

    <main>{% block main %} BASE {% endblock %}</main>

    <section id="thanks">
      <p>
        {{ site['only_possible'] }}
        <a href="/{{lang}}/sponsors">{{ site['partners_and_sponsors'] }}</a>.
      </p>
      <p></p>
      <p>
        {{ site['more_info'] }}<a href="/{{lang}}/contact"
          >{{ site['contact_us'] }}</a
        >
      </p>
    </section>

    <footer id="footer">
      <li>{{ site['copyright'] }}</li>
      <li>
        <i class="fa fa-facebook-square"></i>
        <a
          href="https://www.facebook.com/pages/Foss4g-Belgium/863691603712207"
          title="Facebook"
          >Facebook</a
        >
      </li>
    </footer>
  </body>
</html>
