<!-- volonteers.html -->
{% extends 'base.html' %}

{% block main %}

<h2>{{ page.title }}</h2>

<p>{{ page.content}}</p>

<ul>
    <li><a href="https://2024.foss4g.be/en/" target="_blank">FOSS4G-be 2024</a></li>
    <li><a href="https://2022.foss4g.be/en/" target="_blank">FOSS4G-be 2022</a></li>
    <li><a href="https://2019.foss4g.be/en/" target="_blank">FOSS4G-be 2019</a></li>
    <li><a href="https://2018.foss4g.be/en/" target="_blank">FOSS4G-be 2018</a></li>
    <li><a href="https://2017.foss4g.be/en/" target="_blank">FOSS4G-be 2017</a></li>
    <li><a href="https://2016.foss4g.be/en/" target="_blank">FOSS4G-be 2016</a></li>
    <li><a href="https://2015.foss4g.be/en/" target="_blank">FOSS4G-be 2015</a></li>
</ul>

{% endblock %}